<p-dataTable [value]="lancamentos" [paginator]="true" [rows]="3" [responsive]="true">
  <p-column field="pessoa" header="Pessoa"></p-column>
  <p-column field="valor" header="Valor" styleClass="col-valor">
    <ng-template pTemplate="body" let-lanc="rowData">
      <span [ngStyle]="{color: lanc.tipo === 'DESPESA' ? 'red' : 'blue'}">{{ lanc.valor | number:'1.2-2' }}</span>
    </ng-template>
  </p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column header="Vencimento" styleClass="col-data">
    <ng-template pTemplate="body" let-lanc="rowData">
      {{ lanc.dataVencimento | date:'dd/MM/yyyy' }}
    </ng-template>
  </p-column>
  <p-column header="Pagamento" styleClass="col-data">
    <ng-template pTemplate="body" let-lanc="rowData">
      {{ lanc.dataPagamento | date:'dd/MM/yyyy' }}
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template pTemplate="body">
      <a href="#" pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="bottom"></a>
      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="bottom"></button>
    </ng-template>
  </p-column>
</p-dataTable>
